@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@100;200;300;400;500&family=Nanum+Gothic:wght@400;700;800&family=Playfair+Display:wght@400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.introCard {
  height: 12rem;
  border:solid rgb(222, 217, 217) 0.5px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.introCard div:nth-child(1){
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.introCard div:nth-child(1) i {
  margin-right: 1rem;
}

.introCard p {
  font-size: 0.9rem;
}

.introCard i {
  font-size: 1.4rem;
}