@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:ital,wght@0,300;0,600;1,400;1,500&family=Roboto:ital,wght@0,300;1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap");
/* Form component */
.account-part {
  background: #ffffff;
  width: 52%;
  box-shadow: 0px 8px 32px 16px rgba(68, 170, 238, 0.19);
}
/* header container >> login button and already sign up text */
.header-2 {
  display: flex;
  margin-top: 6px;
  justify-content: flex-end;
  gap: 10px;
}
/* Form container */
.content-2 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  height: 90%;
  margin-top: 10px;
  padding-right: 70px;
}
/* create free account header */
.content-2 h2 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: rgba(51, 51, 51, 1);
}
/* All inputs */
input {
  border: 'none';
  border-bottom: 1px solid;
  outline: none;
}

/* names input container  */
.inputs-names-container {
  width: 80%;
  margin-left: 16%;
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.inputs-names-container input {
  width: 100%;
}

/* All other inputs  */
.inputs-mai-pass {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-left: 16%;
}

.p-inputs {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 7px;
  color: rgba(153, 153, 153, 1);
}

::placeholder {
  color: rgba(204, 204, 204, 1);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin-left: 16%;
  margin-bottom: 2px;
}
.buttons-container button{
  width: 100%;
  height: 35px;
}

.or {
  color: rgba(102, 102, 102, 1);
}

.buttons-container .google {
  display: flex;
  gap: 10px;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  justify-content: center;
  height: 30px;
}
.buttons p {
  font-size: 12px;
}

.buttons .google p {
  margin-top: 10px;
  color: rgb(102, 102, 102);
  font-family: "Poppins";
}

.buttons .google img {
  margin-top: 3px;
}

.google:hover {
background-color:#1b4b66;
}

.google:hover p {
  color: white;
}

.terms {
  color: rgb(102, 102, 102);
}

.errors {
  font-size: 10px;
  margin-top: 5px;
  color: red;
}