:root {
  --primary: #1b4b66;
}
.div-parent {
  margin-top: 70px;
  position: relative;
  top: 0;
  left: 0;
}
.img {
  margin-top: 30px;
  filter: brightness(50%) blur(0.5px);
  width: 1450px;
  object-fit: cover;
  height: 400px;
  border-radius: 10px;
  margin-left: 3%;
  margin-right: 20%;
  box-shadow: 10px 10px 5px rgba(7, 56, 75, 0.115) inset;
}
.div-intro {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem ;
  flex-direction: column;
  align-items: flex-start;
  top: 100px;
  right: 40px;
  height: 220px;
  width: 600px;
  background-color: rgba(222, 222, 222, 0.7);
  border-radius: 10px;
  color: var(--primary);
  padding: 1rem 1rem 1rem 2rem;
}
.intro-dev  {
  font-size: 70px;
  font-weight: bolder;
}
