.container {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    margin: auto;
    padding-left: 150px;
    margin-top: 2%;
}
.category-name {
width: 100vw;
}